<div class="temp-list back-fff" [class.temp-list-active]="item?.select$">
  <div class="temp-form-column">
    <span>
      {{item?.name}}
      <ng-container *ngFor="let vali of item?.validators">
        <i class="color-red pd-l5" *ngIf="vali.type=='required'">*</i>
      </ng-container>
    </span>
    <span class="color-888 mg-t5">{{item?.placeholder}}</span>
  </div>
  <div class="temp-list-close" (click)="resRemove.emit(true)">
    <span class="iconfont icon-guanbi4 font-size12"></span>
  </div>
</div>