.zc-overlay-backdrop {
  position: fixed;
  pointer-events: auto;
  z-index: 8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
  opacity: 0;
}

.zc-linkage {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  background-color: #fff;
  border-radius: 4px;
  outline: 0;
}

.zc-linkage.select .zc-input {
  border: 1px solid #6496C8;
}

.anticon {
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}

.zc-linkage-picker-clear {
  position: absolute;
  right: 8px;
  z-index: 2;
  background: #fff;
  top: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  transform: rotate(-45deg);
  /* 135deg */
}

.zc-linkage-picker-clear.active {
  transform: rotate(135deg);
}

.zc-linkage-picker-label {
  position: absolute;
  left: 0;
  height: 20px;
  line-height: 20px;
  top: 50%;
  margin-top: -10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  padding: 0 12px 0 8px;
}

.zc-menus {
  font-size: 12px;
  background: #fff;
  position: absolute;
  z-index: 9;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  white-space: nowrap;
  margin-top: 5px;
}

.zc-list-menu {
  height: 180px;
  border-right: 1px solid #e9e9e9;
  overflow: auto;
  display: inline-block;
}

.zc-list-menu ul {
  display: inline-block;
  vertical-align: top;
  min-width: 111px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.zc-list-menu-item {
  padding: 7px 8px;
  cursor: pointer;
  white-space: nowrap;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.zc-list-menu-item.active {
  background: #f7f7f7;
  font-weight: 600;
}

.zc-list-menu-item.active>i {
  font-weight: 500;
  animation: spin 800ms infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) scale(.6);
  }
  100% {
    transform: rotate(360deg) scale(.6);
  }
}