<nz-modal [(nzVisible)]="isVisible" nzTitle="选择产品" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCance()">

  <ng-template #modalContent>
    <div class="flex flex-row flex-auto" style="width: 650px;">
      <div class="flex flex-column" style="max-width: 350px; min-width: 350px;">
        <nz-input-group [nzSuffix]="suffixIcon">
          <input type="text" nz-input placeholder="搜索产品" [(ngModel)]="searchValue">
        </nz-input-group>
        <ng-template #suffixIcon>
          <i class="anticon anticon-search"></i>
        </ng-template>
        <div class="zc_list_back" *ngIf="listLCWS.length>0">
          <div id="scrollbar" style="height: 410px; display: flow-root;">
            <ng-container *ngFor="let item of listLCWS | searchList:'productName':searchValue ">
              <div class="zc_list_back_item cl" (click)="clickSelectProducts(item)">
                <div class="fl cl">
                  <img [src]="item.productImage" class="mg-l10" />
                  <div class="fl">
                    <p class='dis-block text-ellipsis w250'>{{item.productName}}</p>
                    <p class="dis-block color-f60">
                      {{item.channel | channel}}
                    </p>
                  </div>
                </div>
                <i class="anticon anticon-check fr mg-r20 mg-t10" *ngIf="item.select"></i>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="border-left mg-l30 pd-l30 flex-auto" style="width:40%;">
        <div class="font-16 color-grey-deep line-32">已选择的产品</div>
        <div id="scrollbarSelect" style="height: 410px; display: flow-root;">
          <ng-container *ngFor="let item of selectItems">
            <div class="zc_list_back_item cl">
              <div class="fl cl">
                <img [src]="item.productImage" class="mg-l10" />
                <div class="fl">
                  <p class='dis-block text-ellipsis w150'>{{item.productName}}</p>
                  <p class="dis-block color-f60">
                    {{item.channel | channel}}
                  </p>
                </div>
              </div>
              <i class="anticon anticon-close fr mg-r10 mg-t10" (click)="closeSelect(item)"></i>
            </div>
          </ng-container>
        </div>
      </div>

    </div>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCance()">取 消</button>
    <button nz-button nzType="primary" (click)="handleOk()">确 认</button>
  </ng-template>

</nz-modal>