<div style="padding:60px;">
  <button (click)="isVisible=!isVisible">{{isVisible}}</button>

  <!-- <zc-product-modal [(isVisible)]="isVisible" [beChosen]="viewRanges" (result)="retData($event)"></zc-product-modal> -->

  <!-- <zc-map-baidu-staticimage [longitude]="map.longitude" [latitude]="map.latitude" [width]="250" [height]="130" [zoom]="14"></zc-map-baidu-staticimage> -->

  <!-- <button (click)="isVisibleCro=!isVisibleCro">isVisibleCro</button>
  <zc-image-cropper [(isVisible)]="isVisibleCro" [resizeToWidth]="icWidht" [aspectRatio]="icRatio" [folderName]="folderName"
    (retImage)="retData($event)">
  </zc-image-cropper> -->

  <!-- <zc-address-linkage (addressChange)="retData($event)"></zc-address-linkage> -->

  <!-- <zc-map-baidu-position [(isVisible)]="isVisible" (retPlacePlace)="retData($event)"></zc-map-baidu-position> -->

  <!-- <zc-organization-structure [(isVisible)]="isVisible" [beChosen]="viewRanges" (result)="retData($event)"></zc-organization-structure> -->

  <!-- <zc-flow-operation [flowId]="flowId"></zc-flow-operation> -->

  <!-- <div [zcLoading]="isVisible"></div> -->

  <div style="height: calc(100vh - 400px)" id="container">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore incidunt reiciendis eveniet velit,
      quos perferendis optio odit ex commodi dignissimos maxime ad eligendi. Excepturi sunt nostrum eaque, ut
      consequatur eum?</p>
  </div>

</div>