<div style="padding:60px;">
  <button (click)="isVisible=!isVisible">{{isVisible}}</button>

  <!-- <zc-product-modal [(isVisible)]="isVisible" [beChosen]="viewRanges" (result)="retData($event)"></zc-product-modal> -->

  <!-- <zc-map-baidu-staticimage [longitude]="map.longitude" [latitude]="map.latitude" [width]="250" [height]="130" [zoom]="14"></zc-map-baidu-staticimage> -->

  <!-- <zc-map-baidu-position [(isVisible)]="isVisible" (retPlacePlace)="retData($event)"></zc-map-baidu-position> -->

  <!-- <button (click)="isVisibleCro=!isVisibleCro">isVisibleCro</button>
  <zc-image-cropper [(isVisible)]="isVisibleCro" [resizeToWidth]="icWidht" [aspectRatio]="icRatio" [folderName]="folderName"
    (retImage)="retData($event)">
  </zc-image-cropper> -->

  <!-- <zc-address-linkage [ngModel]="address" (ngModelChange)="retData($event)"></zc-address-linkage> -->

  <!-- <form [formGroup]="dynForm" (ngSubmit)="handleOk()">
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="input">
      <nz-form-explain *ngIf="dynForm.get('input').dirty && dynForm.get('input').errors">The input is not valid input!</nz-form-explain>
    </nz-form-control>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <zc-address-linkage name="address" formControlName="address" (ngModelChange)="retData($event)"></zc-address-linkage>
      <nz-form-explain *ngIf="dynForm.get('address').dirty && dynForm.get('address').errors">The input is not valid address!</nz-form-explain>
    </nz-form-control>
  </form> -->

  <!-- <zc-organization-structure [(isVisible)]="isVisible" [beChosen]="viewRanges" (result)="retData($event)"></zc-organization-structure> -->

  <!-- <zc-flow-operation [flowId]="flowId"></zc-flow-operation> -->

  <!-- <form [formGroup]="dynForm" (ngSubmit)="handleOk()">
    <zc-flow-choose name="flowId" formControlName="flowId" (ngModelChange)="retData($event)"></zc-flow-choose>
  </form> -->

  <!-- <zc-flow-details [ngModel]="flowInstanceUuid"></zc-flow-details> -->

  <!-- <div [zcLoading]="isVisible"></div> -->

  <ul>
    <li *ngFor="let item of items | diff: [2, 4]">{{item}}</li>
  </ul>

  <input type="file" (change)="retData($event)">

</div>