<form [formGroup]="item">
  <div class="form-edit_item" formGroupName="conditionField">
    <div class="form-edit_item_left">
      <span class="font-size14">类型</span>
    </div>
    <div class="form-edit_item_right">
      <select class="form_select" formControlName="type" (ngModelChange)="conditionTypeChange($event)">
        <option value="SingleChoose">单选</option>
        <option value="Boolean">二元</option>
      </select>
    </div>
  </div>
  <div class="form-edit_item" formGroupName="conditionField">
    <div class="form-edit_item_left">
      <span class="font-size14">选项</span>
    </div>
    <div class="form-edit_item_right" formArrayName="candidates$">
      <div class="dis-table pd-b10 w100" *ngFor="let cand of item.controls['conditionField']['controls']['candidates$']['controls'];let _c = index"
        [formGroupName]="_c">
        <span>
          <input style="width:150px;" type="text" class="form_input" name="candidates_{{_c}}" formControlName="value" (ngModelChange)="isSwitchFieldsChange(false,item.get('conditionField').get('candidates').value[_c]);candidatesChange();"
            placeholder="选项" />
        </span>
        <span>

          <ng-container *ngIf="item.controls['conditionField'].get('type').value==='SingleChoose'">
            <i class="iconfont icon-wuuiconxiangjifangda mg-l10 font-size18 cur-p color-d8" (click)="addCandidates()"></i>
            <i class="iconfont icon-jian mg-l10 font-size18 cur-p color-d8" *ngIf="item.controls['conditionField']['controls']['candidates']['controls'].length!=1"
              (click)="delCandidates(_c)"></i>
          </ng-container>
          <nz-switch [nzSize]="'small'" class="dis-inline-block mg-l10" formControlName="switch" (ngModelChange)="isSwitchFieldsChange($event, item.get('conditionField').get('candidates').value[_c])"></nz-switch>
        </span>
      </div>
    </div>
  </div>
</form>